body {
  background-image: url('../Image/record.png');
  background-repeat: repeat;
  background-size: contain;
  background-position: auto;
  margin: 0;
  padding: 1px;



}


header {
  background-color: dark;
  color: light;
  text-align: center;

}
main {
  background-color: lightgrey;
  padding: 1em;
  margin: 0;
  text-align: center;
}
