body {
  margin: 0;
  background-image: url('record.png');
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  background-color: dark;
  color: light;
  text-align: center;
}
main {
  background-color: lightgrey;
  padding: 1em;
}
