body {
  background-image: url('../Image/record.png');
  background-repeat: repeat;
  background-size: 200px;
  margin: 0;



}


header {
  background-color: dark;
  color: light;
  text-align: center;
  margin-top: 0;
  
}
main {
  background-color: lightgrey;
  padding: 1em;
  margin: 0;
}
